<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Vue example</title>
</head>
<body>
  <style>
    * {
      font-family: Arial;
    }
    #app {
      margin: 20%;
      text-align: center;
    }
    ul {
      text-align: left;
    }
  </style>

  <div id="app">
    <h1>{{ message }}</h1>

    <ul>
      <thing v-for="thing in things" :thing="thing"></thing>
    </ul>

    <label>Check this out</label><br>
    <input type="text" v-model='someMessage' @change.prevent="onSubmit">
    <button @click.prevent="onSubmit">Add</button><br>

    <h4>{{ someMessage }}</h4>
    <h5 v-colour="{ colour: 'red' }">{{ someReverseMessage | uppercase }}</h5>

  </div>

  <template id="thing-template">
    <li>
      {{ thing.body }}  <strong>Liked:</strong> {{ thing.liked }} times
      <button @click="liked">Like</button>
    </li>
  </template>
</body>
<script src="vue.js"></script>
<script>
Vue.component('thing', {
  template: '#thing-template',
  props: ['thing'],
  methods: {
    liked () {
      this.thing.liked += 1
    }
  }
})

new Vue({
  el: '#app',
  data: {
    message: 'BAM',
    things: [
      {
        body: 'here\'s a thing',
        liked: 4
      },
      {
        body: 'this is another thing',
        liked: 6
      },
      {
        body: 'writing things is fun',
        liked: 8
      },
      {
        body: 'don\'tcha know',
        liked: 1
      }
    ],
    someMessage: ''
  },
  computed: {
    someReverseMessage () {
      return this.someMessage.split('').reverse().join('')
    }
  },
  methods: {
    clearInput () {
      this.someMessage = ''
    },
    onSubmit () {
      this.things.push({body: this.someMessage, liked: 0})
      this.clearInput()
    }
  },
  directives: {
    'colour': function (el, binding) {
      el.style.color = binding.value.colour
    }
  },
  filters: {
    uppercase: function (value) {
      return value.toUpperCase()
    }
  }
})
</script>
</html>
