<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Vue example</title>
</head>
<body>

  <style>
    * {
      font-family: Arial;
    }
    #app {
      margin: 20%;
      text-align: center;
    }
    ul {
      text-align: left;
    }
  </style>

  <div id="app">
    <h1>{{ message }}</h1>

    <ul>
      <li v-for="thing in things">{{ thing }}</li>
    </ul>
    <label>Check this out</label><br>
    <input type="text" v-model='someMessage'><br>
    <h4>{{ someMessage }}</h4>
    <h5>{{ someReverseMessage }}</h5>
  </div>

  <script src="vue.js"></script>
  <script>
  new Vue({
    el: '#app',
    data: {
      message: 'BAM',
      things: [
        'here\'s a thing',
        'this is another thing',
        'writing things is fun',
        'don\'tcha know'
      ],
      someMessage: ''
    },
    computed: {
      someReverseMessage () {
        return this.someMessage.split('').reverse().join('')
      }
    },
    methods: {

    },
    directives: {

    },
    filters: {

    }
  })
  </script>
</body>
</html>
